// - - - - - - - - - - - - - - - - - - -
// - - base
// project defaults for base elements - h1-h6, p, a, etc.

body, html {
  margin: 0;
  @include font-fam-pri;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: $alternate_text;
}
