// - - - - - - - - - - - - - - - - - - -
// - - layout
// global layout classes - height, width, padding, margin, etc.

// Background color
$first_bg: cyan;
$second_bg: yellow;

// Breakpoint setup
$breakpoints: (
  xs: 32rem,
  sm: 48rem,
  md: 72rem,
  lg: 96rem,
  xl: 102rem,
  xx: 120rem
);

@mixin break($size) {
  @media (min-width: map-get($breakpoints, $size)) {
    @content;
  };
};

.el {
  display: none;

  @include break(sm) {
    display: block;
  };
};

// This is the size of the grid.
$items: 12;

.grid {
  display: flex;
  flex-flow: row wrap;
  border: solid 1px #e7e7e7;
}

.bg_first {
  background-color: $first_bg
}

.bg_second {
  background-color: $second_bg
}

// Create all the grid elements
@each $key, $value in $breakpoints {
  @for $i from 1 through $items {
    .grid__item--#{$key}-span-#{$i} {
      flex: 0 0 100%;
      @include break($key) {
        flex: 0 0 #{($i / $items * 100) + "%"};
      }
    }
  }
}

// Background areas
.top_bg {
  background-color: orange;
  padding: 100px 0
}
