// - - - - - - - - - - - - - - - - - - -
// - - layout
// global layout classes - height, width, padding, margin, etc.

@mixin break($size) {
  @media (min-width: map-get($breakpoints, $size)) {
    @content;
  };
};

.el {
  display: none;

  @include break(sm) {
    display: block;
  };
};

.grid {
  display: flex;
  flex-flow: row wrap;
}

// Create all the grid elements
@each $key, $value in $breakpoints {
  @for $i from 1 through $grid_size {
    .grid__item--#{$key}-span-#{$i} {
      flex: 0 0 100%;
      @include break($key) {
        flex: 0 0 #{($i / $grid_size * 100) + "%"};
      }
    }
  }
}

* {
  box-sizing: border-box;
}

// Header graphics areas
.top-bg {
  background-color: $bg_primary;
  padding: 30px 0 40px 0px;
  padding: 2vw 0 3vw 0;
  height: 30vw;
  width: 100vw;
  position: fixed;
}

.top-bg-wrapper {
  background-color: $bg_primary;
  position: relative;
  height: 25vw;
  width: 100vw;
}

// Main section
.main {
  position: relative;
  background-color: $bg_white;
}

$block_height: 30vw;

.intro-block {
  width: 100vw;
  height: $block_height;
  background-color: $bg_white;
  position: relative;
  padding: 0 2vw;
  @include verticle-align-center;
}

.image-block-1 {
  @include image-block("http://wallpapercave.com/wp/Sd3rbbg.jpg");
}

.image-block-2 {
  @include image-block("https://littlepebble.files.wordpress.com/2011/02/milledge-fountain-not-mine.jpg");
}

.content-block {
  max-width: 75%;
  padding: 1vw 0;
  margin: auto;
  background-color: $bg_white;
  position: relative;
  @include font-fam-pri;
}

.container {
  max-width: 75%;
  margin: auto;
}

// Sticky menu properties
$menu_height: 40px;

.menu-wrapper {
  position: relative;
  height: $menu_height;
}

.menu {
  position: relative;
  background-color: transparent;
  z-index: 1;
  padding: 8px;
  height: $menu_height
}

.menu-sticky {
  position: fixed;
  width: 100vw;
  top: 0;
  background-color: $bg_primary;
}

// Footer properties
.footer-block {
  width: 100vw;
  height: 100px;
  position: relative;
  padding: 0 10vh;
  background-color: $color_alt_3;
  @include verticle-align-center;
}
