// - - - - - - - - - - - - - - - - - - -
// - - settings
// global maps and variables

// Breakpoint setup
$breakpoints: (
  xs: 32rem,
  sm: 48rem,
  md: 72rem,
  lg: 96rem,
  xl: 102rem,
  xx: 120rem
);

// This is the size of the layout grid.
$grid_size: 12;

// Background color
$first_bg: cyan;
$second_bg: yellow;
$color_primary: #FFA500;
$color_alt_1: #FFB339;
$color_alt_2: #C68000;
$color_alt_3: #9B6500;
$color_alt_4: #000000;
$bg_primary: $color_primary;
$bg_white: white;


// Text colors
$primary_text: black;
$alternate_text: white;
