// - - - - - - - - - - - - - - - - - - -
// - - typography
// global typography styles

$primary_text: black;
$alternate_text: white;

@mixin font-fam-pri() {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: $primary_text;
}

@mixin font-fam-title() {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: $primary_text;
}

.title-skew {
  transform: skewY(-4deg);
  text-align: center;
  font-size: 300%;
  font-size: 7vw;
  @include font-fam-title;
};

.subtitle-skew {
  transform: skewY(-4deg);
  text-align: center;
  font-size: 200%;
  font-size: 5vw;
  @include font-fam-pri;
}

.menu-item {
  font-size: 125%;
  float: right;
  padding: 0 10px
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: $alternate_text;
}

.title-reg {
  text-align: center;
  @include font-fam-title;
  color: white;
  text-shadow: 2px 2px black;
}

body {
  @include font-fam-pri;
}
