// - - - - - - - - - - - - - - - - - - -
// - - typography
// global typography styles

$rotation: -7deg;

@mixin font-fam-pri() {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}

@mixin font-fam-title() {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.title-skew {
  transform: skewY($rotation);
  text-align: center;
  @include font-fam-pri;
};

.title-reg {
  text-align: center;
  @include font-fam-title;
  color: white;
  text-shadow: 2px 2px black;
}

.top_bg {
  background-color: orange;
  padding: 100px 0
}

body {
  @include font-fam-pri;
}
