// - - - - - - - - - - - - - - - - - - -
// - - utilities
// global extends, mixins, functions, and utility classes

// - - - - - - - - - - - - - - - - - - -
// - - extends

// - - - - - - - - - - - - - - - - - - -
// - - mixins
@mixin font-fam-pri() {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: $primary_text;
}

@mixin font-fam-title() {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: $primary_text;
  text-align: center;
  font-size: 7vw;
}

@mixin verticle-align() {
  display: table;
  display: table-cell;
  vertical-align: middle;
}

@mixin verticle-align-center() {
  display: table;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

@mixin image-block($url) {
  width: 100vw;
  height: $block_height;
  overflow: hidden;
  background-image: url($url);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  @include verticle-align-center;
}

// - - - - - - - - - - - - - - - - - - -
// - - functions
@keyframes fadein {
  from { opacity: 0;}
  to { opacity: 1;}
}

@keyframes zoomin {
  from {transform: scale(1.0);}
  to {transform: scale(1.5);}
}

// - - - - - - - - - - - - - - - - - - -
// - - utilities
