// - - - - - - - - - - - - - - - - - - -
// - - utilities
// global extends, mixins, functions, and utility classes

// - - - - - - - - - - - - - - - - - - -
// - - extends

// - - - - - - - - - - - - - - - - - - -
// - - mixins
@mixin font-fam-pri() {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: $primary_text;
}

@mixin font-fam-title() {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: $primary_text;
  text-align: center;
  font-size: 7vw;
}

@mixin verticle-align-center() {
  display: table;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

@mixin image-block-base() {
  width: 100vw;
  height: $block_height;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  @include verticle-align-center;
}

// - - - - - - - - - - - - - - - - - - -
// - - functions

// - - - - - - - - - - - - - - - - - - -
// - - utilities
